button{
    width: 150px;
    height:35px;
    color: #eaccc5;
    background:rgb(45, 107, 161);
    border: 0px;
    font-family: Consolas, monaco, monospace;

}

button:hover{
    cursor:pointer; 
    color:aliceblue;
}
body{
    font-family: Consolas, monaco, monospace;
}
/*.btn{
    
}*/
